* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    margin-bottom: 30%;
}

.description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

/* Header and Navigation styles */
.header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png"), url(images/developer.png);

    background-repeat: no-repeat;
    background-position: bottom right, 45px 35px;


}



nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 225px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}



nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 60px;
}

/* NAV element style */

.text-primary {
    color: #FD6E0A;
}

.btn-style {
    border: 0;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 20px;
    height: 64px;
    width: 150px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* BANNER STYLE */
.banner {
    display: flex;


    /* If we use under styles then we don't need written class  */

    /* margin: 0 200px;
    align-items: center; */
}

.ban-written {
    margin-left: 230px;
    margin-top: 140px;

}

.ban-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.ban-head {
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 30px;
}


.ban-button {
    margin-top: 30px;
    align-items: center;

}

.btn-cv {
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-right: 40px;
    color: #FFFFFF;
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;

}

.btn-contact {
    border-color: #FD6E0A;

    color: #FD6E0A;
    width: 160px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

/* .ban-bg-title {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: 35px 65px;


} */

.ban-img {
    margin-right: 38px;




}

/* Main */

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* About main section styles */

.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 130px;
}

.sec-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

main section p.description {
    text-align: center;
    margin-bottom: 30px;

}

.table {
    display: flex;
    justify-content: space-around;


}

.about-info {
    margin-right: 50px;
    width: 118px;
}

.info-tite {
    width: 118px;
    color: #757575;
}

.info-dessription {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}