* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    margin-bottom: 30%;
}

.description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

/* Header and Navigation styles */
.header {
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png"), url(images/developer.png);

    background-repeat: no-repeat;
    background-position: bottom right, 45px 35px;


}



nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 225px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}



nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 60px;
}

/* NAV element style */

.text-primary {
    color: #FD6E0A;
}

.btn-style {
    border: 0;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 20px;
    height: 64px;
    width: 150px;
    background: #FD6E0A;
    border-radius: 5px;
}

/* BANNER STYLE */
.banner {
    display: flex;


    /* If we use under styles then we don't need written class  */

    /* margin: 0 200px;
    align-items: center; */
}

.ban-written {
    margin-left: 230px;
    margin-top: 140px;

}

.ban-subtitle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.ban-head {
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 30px;
}


.ban-button {
    margin-top: 30px;
    align-items: center;

}

.btn-cv {
    border-color: #FD6E0A;
    border-radius: 5px;
    margin-right: 40px;
    color: #FFFFFF;
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;

}

.btn-contact {
    border-color: #FD6E0A;

    color: #FD6E0A;
    width: 160px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

/* .ban-bg-title {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: 35px 65px;


} */

.ban-img {
    margin-right: 38px;




}

/* Main */

main {
    max-width: 1140px;
    margin: 0 auto;
}


/* About main section styles */

.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 130px;
}

.sec-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

main section p.description {
    text-align: center;
    margin-bottom: 30px;

}

.table {
    display: flex;
    justify-content: space-around;


}

.about-info {
    margin-right: 50px;
    width: 118px;
}

.info-tite {
    width: 118px;
    color: #757575;
}

.info-dessription {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* .................what i do ........... */

.what-do {
    margin-top: 130px;
    padding: 0 70px;
    margin-bottom: 50px;
}

/* ..................skills section......... */
.skills {
    display: flex;
    gap: 24px;
}

section.skills>div {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 267px;
    height: 377px;
    padding: 30px;

}

section.skills>div img {
    margin-top: 30px;
}

.skill-title {
    margin-top: 30px;
    font-weight: 700;
}

.skill-description {
    /* text-align: justify; */
    color: #757575;
    margin-top: 30px;
    width: 180px;

}

/* ........A summary of My Resume......... */
.summary-title {
    margin-top: 130px;
    margin-bottom: 115px;

}

.summary {
    display: flex;
    justify-content: space-around;
}

.title {

    font-weight: 700;
    font-size: 30px;



    color: #474747;

}

.edu-details,
.exp-details {
    width: 522px;
    height: 175px;
    margin-bottom: 30px;
    margin-top: 30px;
}

section.summary>section>div>p {
    width: 511px;
    height: 84px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
}

section.summary>section>div>h3 {

    font-weight: 700;
    color: #474747;

}

section.summary>section>div>h4 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.download {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 113px;

}

/* ..........connect...........  */
.connect {
    display: flex;

    height: 780px;

    background: #FFF8F3;
}

.connect section {
    width: 50%;
}

.cnt-place {
    margin-left: 200px;
}

.cnt-place div a {
    text-decoration: none;
}

.feedback {
    margin-left: 200px;
}

.connect section>h3 {

    width: 305px;
    height: 48px;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    color: #181818;
    margin-top: 130px;

}

.connect section>div {
    margin-top: 30px;
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: space-around;
}

.connect section>p {
    width: 562px;
    height: 56px;

    font-size: 16px;
    color: #474747;
    margin-top: 20px;
}

form {


    margin-top: 28px;
}

form input {
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    text-align: center;
}

.connect section form>.massage {
    width: 461px;
    height: 180px;
}